<a href="https://colab.research.google.com/github/ethanalrawipython/firstrepository/blob/main/Python_01_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! python --version

Python 3.10.12

#Python Intro

Python is a dynamic, interpreted language.

There are no type declarations of variables, parameters, functions, or methods in source code. This makes the code short and flexible.

Python tracks the types of all values at runtime line by line and flags code that does not make sense as it runs.

# Section 1.1: Getting Started "Hello World !"

As you write your programs, your editor highlights different parts of
your program in different ways.

For example:

It recognizes that ***print*** is the name of a function and displays that word in ***yellow***.

It recognizes that ***“Hello Python world!”*** is not Python code and displays that phrase in ***brown***.

This feature is called syntax highlighting and is quite useful as you start to write your own programs.

In [ ]:
print("Hello Python world!")

Hello Python world!

Asking the user to input a text:

In [ ]:
input("Please write something :")

Please write something :hello

'hello'

In [ ]:
input()

Hello essec

'Hello essec'

### Comments

To make a comment start with #

In [ ]:
# This is a comment
# input()

# Section 1.2: Creating variables and assigning values

To create a variable in Python, all you need to do is specify the ***variable name***, and then assign a ***value*** to it.

*variable_name = value*

In [ ]:
message = "Hello Python world!"
print(message)

Hello Python world!

Adding a variable makes a little more work for the Python interpreter.

When it processes the first line, it associates the text *“Hello Python world!”* with the variable *message*.

When it reaches the second line, it prints the value associated with *message* to the screen.

## Section 1.2.1: Naming and Using Variables

When you’re using variables in Python, you need to adhere to a few rules
and guidelines. Breaking some of these rules will cause errors; other guidelines just help you write code that’s easier to read and understand. Be sure to keep the following variable rules in mind:

•	 Variable names can contain only letters, numbers, and underscores.
They can start with a letter or an underscore, but not with a number.
For instance, you can call a variable *message_1* but not *1_message*.

•	 Spaces are not allowed in variable names, but underscores can be used
to separate words in variable names. For example, *hello_message* works,
but *hello message* will cause errors.

•	 Variable names should be short but descriptive. For example, *name* is
better than *n*, *student_name* is better than *s_n*, and *name_length* is better than *length_of_persons_name*.

•	 Variable names are case sensitive.

•	 You can not use python's keywords as a valid variable name. You can see the list of keyword by :

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Section 1.2.2: Data Types

Even though there's no need to specify a data type when declaring a variable in Python, while allocating the necessary area in memory for the variable, the Python interpreter automatically picks the most suitable built-in type for it

### Integers

**Type:** int

**Description:** Whole numbers

**Examples:** -2, 3, 0, 500

In [ ]:
number = 1

In [ ]:
type(number)

int

### Floating-point  

**Type:** float	  

**Description:** Numbers with decimal point

**Examples:** -1.25, 0.0, 1.0, 1.25

In [ ]:
decimal = -1.25

In [ ]:
type(decimal)

float

### Booleans        

**Type:** bool    

**Description:** Logical value indicating **True** or **False**

In [ ]:
boolean = True

In [ ]:
type(boolean)

bool

### Strings

**Type:** str

**Description:** Ordered sequence of characters

**Exapmles:** 'a', 'Hello!', '11 cats'

In [ ]:
greeting = 'Hello !'

In [ ]:
type(greeting)

str

### Dictionaries    

**Type:** dict

**Description:** Dictionaries are used to store data in key:value pairs.

A dictionary is a collection which is ordered, changeable and do not allow duplicates.

**Example:** {"my_key": "my_value", "title": "Python for business"}

In [ ]:
person = {"id":1, "name":"Alice", "job": "Data analyst"}

In [ ]:
type(person)

dict

#### Dictionary Length

To determine how many items a dictionary has, use the len() function:

In [ ]:
len(person)

3

#### Accessing Items

You can access the items of a dictionary by referring to its key name, inside square brackets:

In [ ]:
person["name"]

'Alice'

There is also a method called get() that will give you the same result:

In [ ]:
person.get("name")

'Alice'

Adding an item

In [ ]:
person["age"] = 20

In [ ]:
person

{'id': 1, 'name': 'Alice', 'job': 'Data analyst', 'age': 20}

Updating an item

In [ ]:
person.update({"age": 21})

In [ ]:
person

{'id': 1, 'name': 'Alice', 'job': 'Data analyst', 'age': 21}

Deleting an item

In [ ]:
person.pop("age")

21

In [ ]:
person

{'id': 1, 'name': 'Alice', 'job': 'Data analyst'}

### Lists           

**Type:** list    

**Description:** Ordered sequence of objects.

The list type is probably the most commonly used collection type in Python.

List items are ordered, changeable, and allow duplicate values.

A list can be created by enclosing values, separated by commas, in square brackets.

List items are indexed, the first item has index [0], the second item has index [1] etc.

**Example:** [10, "hello", 200.3]

In [ ]:
a = ["apple", "banana", "cherry", "orange", "kiwi"]

In [ ]:
type(a)

list

#### Access Items

List items are indexed and you can access them by referring to the index number:

In [ ]:
a[0]

'apple'

#### Negative Indexing

Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

In [ ]:
a[-1]

'kiwi'

#### Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [ ]:
a[2:4]

['cherry', 'orange']

By leaving out the start value, the range will start at the first item:

In [ ]:
a[:4]

['apple', 'banana', 'cherry', 'orange']

By leaving out the end value, the range will go on to the end of the list:

In [ ]:
a[2:]

['cherry', 'orange', 'kiwi']

#### Adding an element into a list

In [ ]:
a.append('orange')
a

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'orange']

#### Insert Items
To insert a new list item, without replacing any of the existing values, we can use the **insert()** method.

The **insert()** method inserts an item at the specified index:

In [ ]:
a.insert(2, "watermelon")
a

['apple', 'banana', 'watermelon', 'cherry', 'orange', 'kiwi', 'orange']

#### Remove Specified Item

The **remove()** method removes the specified item.

In [ ]:
a.remove("banana")
a

['apple', 'watermelon', 'cherry', 'orange', 'kiwi', 'orange']

#### Check if Item Exists

To determine if a specified item is present in a list use the **in** keyword:

In [ ]:
if "apple" in a:
  print("Yes, 'apple' is in the a list")

Yes, 'apple' is in the a list

#### Empty list

In [ ]:
empty_list = []

A list can contain another list as its element:

In [ ]:
nested_list = [['a', 'b', 'c'], [1, 2, 3]]

#### List Length

In [ ]:
len(nested_list)

2

### Sets            

**Type:** set     

Description: Unordered collection of unique objects

**Example:** {"a", "b"}

In [ ]:
collection = {"a", 1, "d"}

In [ ]:
type(collection)

set

### Tuples          

**Type:** tuple     

**Description:** Ordered immutable sequence of objects

**Examples:** (10, "hello", 200.3)

In [ ]:
sequence = (15, 400.2, "Hi")

In [ ]:
type(sequence)

tuple

## Section 1.2.3: Assigning values to variables

You can assign multiple values to multiple variables in one line. Note that there must be the same number of arguments on the right and left sides of the = operator:

In [ ]:
a, b, c = 40, "Bonjour", ['1', 2]

In [ ]:
print(a)

40

You can also assign a single value to several variables simultaneously.

In [ ]:
a = b = c = 1

In [ ]:
print(a, b, c)

1 1 1

In [ ]:
a = 2

In [ ]:
print(a,b,c)

2 1 1

The above is also true for mutable types (like list, dict, etc.) just as it is true for immutable types (like int, string, tuple, etc.):

In [ ]:
a = b = [4, 5, 6]

In [ ]:
a = [9, 100]

In [ ]:
print(a,b)

[9, 100] [4, 5, 6]

## Section 1.2.4: Converting between datatypes

You can perform explicit datatype conversion.

For example, '123' is of str type and it can be converted to integer using int function.

In [ ]:
a = '123'
b = int(a)

In [ ]:
a

'123'

In [ ]:
b

123

In [ ]:
type(b)

int

Converting from a float string such as '123.456' can be done using float function.

In [ ]:
a = '123.456'
b = float(a)
b

123.456

In [ ]:
c = int(b)
c

123

You can also convert sequence or collection types

In [ ]:
a = 'hello !'

In [ ]:
set(a)

{' ', '!', 'e', 'h', 'l', 'o'}

In [ ]:
tuple(a)

('h', 'e', 'l', 'l', 'o', ' ', '!')

In [ ]:
list(a)

['h', 'e', 'l', 'l', 'o', ' ', '!']

# Section 1.3: Math Operators

From highest to lowest precedence:

![math_operations.PNG]()

In [ ]:
2 + 3 * 6

20

In [ ]:
23 // 7

3

In [ ]:
23 % 7

2

### Augmented Assignment Operators

![math_augmented_operations.PNG]()

In [ ]:
a = 20
a += 2
a

22

# Section 1.4 : Conditions and If statements

Python supports the usual logical conditions from mathematics:

- Equals: a == b
- Not Equals: a != b
- Less than: a < b
- Less than or equal to: a <= b
- Greater than: a > b
- Greater than or equal to: a >= b

These conditions can be used in several ways, most commonly in "if statements" and loops.

###**1- "if" statement**

An "if statement" is written by using the ***if*** keyword.

In [ ]:
a = 10
b = 20
if b > a:
  print("b is greater than a")

b is greater than a

####**Indentation**

Python relies on indentation (whitespace at the beginning of a line) to define scope in the code.

###**2- "elif" statemet:**

The ***elif*** keyword is Python's way of saying "if the previous conditions were not true, then try this condition".

In [ ]:
a = 15
b = 15
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

###**3- "else" statement:**

The ***else*** keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 200
b = 30
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

###**4- Nested If:**

You can have if statements inside if statements, this is called nested if statements.

In [ ]:
x = 41

if x > 10:
  print("x is bove ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

x is bove ten,
and also above 20!

## Logical Operators :

###**1- And**

The ***and*** keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

###**2- Or**

The ***or*** keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

###**3- Not**

The ***not*** keyword is a logical operator, and is used to reverse the result of the conditional statement:

In [ ]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

# Section 1.5 : Loops

## Section 5.1 : While Loop

With the while loop we can execute a set of statements as long as a condition is true.

The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

##Section 5.2 : For Loop

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

**Looping through a list:**

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

**Looping through a string:**

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

**The range() Function:**

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

**Nested Loops:**

In [ ]:
adj = ["red", "tasty"]
fruits = ["apple", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red cherry
tasty apple
tasty cherry

#Section 1.6 : Functions

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

###Creating a Function:

In Python a function is defined using the ***def*** keyword:

In [ ]:
def my_function():
  print("Hello from a function")

###Calling a Function:

To call a function, use the function name followed by parenthesis:

In [ ]:
my_function()

Hello from a function

###Arguments:
Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [ ]:
def my_function(fname):
  print(fname + " Malotti")

my_function("Pascal")
my_function("Heloise")

Pascal Malotti
Heloise Malotti

###Default Parameter Value:
The following example shows how to use a default parameter value.

If we call the function without argument, it uses the default value:

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()

I am from Sweden
I am from India
I am from Norway

###Return Values:
To let a function return a value, use the ***return*** statement:

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))

15
25

# Exercice : Best Time to Buy and Sell Stock

You are given an array prices where prices[i] is the price of a given stock on the ith day.

You want to maximize your profit by choosing a single day to buy one stock and choosing a different day in the future to sell that stock.

Return the maximum profit you can achieve from this transaction. If you cannot achieve any profit, return 0.



Example 1:

Input: prices = [7,1,5,3,6,4]

Output: 5

Explanation: Buy on day 2 (price = 1) and sell on day 5 (price = 6), profit = 6-1 = 5.

Note that buying on day 2 and selling on day 1 is not allowed because you must buy before you sell.

Example 2:

Input: prices = [7,6,4,3,1]

Output: 0

Explanation: In this case, no transactions are done and the max profit = 0.


Constraints:

1 <= prices.length <= 105

0 <= prices[i] <= 104

For more exercices : https://leetcode.com/problemset/algorithms/?difficulty=EASY&page=1